<ion-header>
  <ion-toolbar>
    <ion-title>Explorador de Países</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    placeholder="Buscar país..."
    debounce="300">
  </ion-searchbar>

  <div *ngIf="loading" style="text-align: center; padding: 20px;">
    <ion-spinner></ion-spinner>
    <p>Cargando países...</p>
  </div>

  <ion-list *ngIf="!loading">
    <ion-item
      *ngFor="let country of filteredCountries"
      button
      [routerLink]="['/country-detail', country.name.common]">
      <ion-avatar slot="start">
        <img [src]="country.flags.png" [alt]="country.name.common" />
      </ion-avatar>
      <ion-label>
        <h2>{{ country.name.common }}</h2>
        <p>Capital: {{ country.capital?.[0] || 'N/A' }}</p>
        <p>Población: {{ country.population | number }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
